
#error-msg {
    display: none;
}

.pit, .own-pit {
    height: 50px;
}


.stones-count {
    display: block;
    text-align: center;
    font-size: large;
    cursor: default;
}

.pit, .own-pit, .kalah {

    text-align: center;
    width: 100px;
    height: 100px;

    position: relative;
    display: block;
    vertical-align: middle;
    margin: 2px auto 2px auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.own-pit:hover {
    background: rgba(0, 0, 0, 0.3);
}

.kalah {
    height: 200px;
}

.own-kalah-container {
    margin-top: 25px;
}

.opp-kalah-container {
    margin-bottom: 25px;
}

table, th, td {
    height: 120px;
    /*border: 1px solid red;*/
}

.board {
    width: 1000px;
    background-image: url("/img/wood-uncut.jpg");
}

.board-container {
    width: 1020px;
    padding: 10px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.play-container {
    max-width: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

#play-btn {
    display: block;
    margin: auto;
}

.stone {
    position: absolute;
    border-radius: 50%;
    background: rgba(150, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    /*top: 5px;*/
    /*left: 10px;*/
}